.lead {
    font-size: px; /* Exemple de taille de police */
    /* Ajoutez d'autres styles au besoin */
  }
 /* custom-styles.scss */

/* custom-styles.scss */

.navbar-nav {
    display: flex;
    align-items: center; /* Alignement vertical des éléments */
  }
  
  .nav-item {
    padding: 0 5px; /* Espacement horizontal entre les éléments */
    font-size: 18px; /* Taille de police des liens */
    /* Ajoutez d'autres styles au besoin */
  }
  
  .navbar-brand {
    padding: 0 15px; /* Espacement horizontal pour la marque */
    font-size: 18px; /* Taille de police de la marque */
    /* Ajoutez d'autres styles au besoin */
  }
  
  .experience-logo {
    max-width: 50px;
    margin: 0 auto;
    display: block;
  }
  
